@import url(navegador.css);

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
    /*grid-template-rows: min-content;*/


}

.nosotros__imagen {
    grid-row: 1/2;
    width: 100%;
}

@media (min-width: 768px) {
    .nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .nosotros__imagen {
        grid-column: 2/3;
    }
}

/** Bloques */

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.bloque {
    text-align: center;
}

.bloque__imagen {
    width: 100%;
}

.bloque__titulo {
    margin: 0;
}



@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}